/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;
  --color-accent: #f59e0b;
  --color-bg: #f0f4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
